*{margin: 0;padding: 0;}
*{box-sizing: border-box}
.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.slider{
    display: flex;
    transition: all .5s;
    transform: translateX(-400px);
}

.btnWrapper{
    text-align: center;
}

.controls{
    text-align: center;
}