*{margin: 0;padding: 0;}
*{box-sizing: border-box}
.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.imgVessel{
    position: relative;
}
.imgVessel > img{
    position: absolute;
    top: 0;
    transition: all 1s;
}
.imgVessel > img.current{
    left: 0;
    transform: translateX(0);
    z-index: 1;
}
.imgVessel > img.leave{
    transform: translateX(-100%);
}
.imgVessel > img.enter{
    transform: translateX(100%);
}